doctype html
html(manifest=manifest, lang=language, dir=dir(language))
  head
    title= title

    meta(charset="utf-8")
    meta(name="author", content="Martijn van de Rijdt (Enketo LLC)")
    meta(name="viewport",content="width=device-width, initial-scale=1.0")

    link(rel="shortcut icon", href=`${basePath}/images/favicon.ico`)
    link(rel="icon", type="image/png", sizes="180x180", href=`${basePath}/images/favicon/icon_180x180.png`)
    link(rel="apple-touch-icon", sizes="57x57", href=`${basePath}/images/favicon/apple-icon-57x57.png`)
    link(rel="apple-touch-icon", sizes="60x60", href=`${basePath}/images/favicon/apple-icon-60x60.png`)
    link(rel="apple-touch-icon", sizes="72x72", href=`${basePath}/images/favicon/apple-icon-72x72.png`)
    link(rel="apple-touch-icon", sizes="76x76", href=`${basePath}/images/favicon/apple-icon-76x76.png`)
    link(rel="apple-touch-icon", sizes="114x114", href=`${basePath}/images/favicon/apple-icon-114x114.png`)
    link(rel="apple-touch-icon", sizes="120x120", href=`${basePath}/images/favicon/apple-icon-120x120.png`)
    link(rel="apple-touch-icon", sizes="144x144", href=`${basePath}/images/favicon/apple-icon-144x144.png`)
    link(rel="apple-touch-icon", sizes="152x152", href=`${basePath}/images/favicon/apple-icon-152x152.png`)
    link(rel="apple-touch-icon", sizes="180x180", href=`${basePath}/images/favicon/apple-icon-180x180.png`)
    link(rel="icon", type="image/png", sizes="192x192", href=`${basePath}/images/favicon/android-icon-192x192.png`)
    link(rel="icon", type="image/png", sizes="32x32", href=`${basePath}/images/favicon/favicon-32x32.png`)
    link(rel="icon", type="image/png", sizes="96x96", href=`${basePath}/images/favicon/favicon-96x96.png`)
    link(rel="icon", type="image/png", sizes="16x16", href=`${basePath}/images/favicon/favicon-16x16.png`)
    link(rel="manifest", href=`${basePath}/images/favicon/manifest.json`)

    script(src=`${basePath}/js/build/ie11-polyfill.min.js`, nomodule)
    script(src=`${basePath}/js/build/obscure-ie11-polyfills.js`, nomodule)

    block style

    block global

  - var cl = (iframe) ? 'iframe' : ''
  body(class=cl)
    block content

    block script

    if analytics
      include component/analytics

    if livereload
      script(src="//localhost:35729/livereload.js")
